<h1><%@team%></h1>
<h2>Gerenciar papéis e membros</h2>



<table>
    <tr>
        <th>Listando membros inscritos</th>
    </tr>
    <tr>
    <td>
        <% @team.roles.each do |role| %>
            <th>
                Membros <%= role.title %>
            </th>
            <% role.users.each do |user| %>
                <tr>
                    <td><%= user.user_description.name %></td>
                </tr>
            <%end%>
        <%end%>
    </td>
    </tr>
</table>
