<div class="form">
<div class="bkgd">
<div class="title">
<h1>Login</h1>
</div>
<%= form_for '/login' do |l| %>

  <%= l.text_field :email, :placeholder => "Insira o email" %> <br/>
  <%= l.password_field :password, :placeholder => "Insira sua senha" %> <br/>
  <%= l.submit "Login" %>

<% end %>
</div>
</div>
