<div id="main" class="container-fluid" >

	<h1>Alterar senha</h1>

	<div class="row">
		<%= form_for(@user, :url => {:action => 'update', :id => @user.id}) do |f| %>
			<div class="form-group col-md-2">
				<label for=":email"> Email </label>
				<input type="text" class="form-control"  <%= f.email_field :email%>
			</div>

			<div class="form-group col-md-2">
				<label for=":password"> Nova senha </label>
				<input type="password" class="form-control" <%= f.password_field :password%>
			</div>

			<div class="form-group col-md-2">
				<label for=":password_confirmation"> Insira a senha novamente</label>
				<input type="password" class="form-control" <%= f.password_field :password_confirmation %>
			</div>

			<div class="col-md-4">
			</div>
			<div class="col-md-12">
	       		<a href="/" class="btn btn-default">Voltar</a>
   				<button type="submit"  a href="Save" class="btn btn-success">Alterar senha </button>
   			</div>
   		<% end %>
	</div>	
</div>
