<table>
    <tr>
        <th>Usuário</th>
        <th>Email</th>
    </tr>

    <tr>
        <td><%=@user.user_description.name%></td>
        <td><%=@user.email%></td>
    </tr>
</table>

<table>
    <tr>
        <th>Equipes que participa</th>
    </tr>


</table>
