<table>
    <tr>
        <th>Team</th>
        <th>Role</th>
        <th>User</th>
    </tr>

    <tr>

    </tr>
</table>

<table>
    <tr>
        <th>Equipes que participa</th>
    </tr>


</table>
