<h1>Bem vindo<% if current_user %>,
  <%= current_user.user_description.name %>!
<% end %>
</h1>

<table>
    <tr>
        <th>Usuarios Cadastrados</th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td><%=link_to user.email, controller: "users", action:"show", id:user %></td>
        </tr>
    <%end%>
</table>

<table>
    <tr>
        <th>Equipes Cadastradas</th>
        <th>|</th>
        <th><%= link_to "nova equipe", '/teams/new' %></th>
    </tr>
    <% @teams.each do |team| %>
        <tr>
            <td><%=link_to team.name, controller: "teams", action:"show", teamid:team %></td>
        </tr>
    <%end%>
</table>
