
<h1>Operation Index</h1>

<table>
	<tr>
		
	</tr>
    <tr>
        <th>Operacoes</th>
    </tr>

    <tr>
        <% @operations.each do |op| %>
                <td><%= op.name%></td>
            <% end %>
    </tr>
</table>