
<h1>Operation Index</h1>

<h3><%=link_to "registar nova operação", controller: "operations", action: "new" %></h3>

<table>
    <tr>
        <th>Operacoes</th>
    </tr>

    <tr>
        <% @operations.each do |op| %>
                <td><%= op.name%></td>
            <% end %>
    </tr>
</table>